@import "../../styles/variables.scss";

.logo {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  padding: $spacing 0;

  &--centered {
    align-self: center;
  }
}

span {
  color: white;
}